footer {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  min-height: 8rem;
  flex: auto;
  @media (max-width: 30rem) {
    margin: 1rem;
  }
  @media (min-width: 120rem) {
    justify-content: space-evenly;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  @media (max-width: 30rem) {
    margin: 1rem;
  }
}
.nav__link {
  display: flex;
  color: $off-white;
  text-decoration: none;
  font-weight: bold;
  transition: color .5s;
  &:hover {
    h2 {
      transition: color .5s;
      color: $light-blue;
    }
  }
}