footer {
  display: flex;
  margin: 2rem;
  align-items: center;
  min-height: 8rem;
  flex: auto;
  @media (max-width: 30rem) {
    margin: 1rem;
  }
  @media (min-width: 120rem) {
    justify-content: space-evenly;
  }
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  @media (max-width: 30rem) {
    margin: 1rem;
  }
}
.nav__link {
  display: flex;
  color: $off-white;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  transition: background-color .5s;
  transition: color .5s;
  transition: transform .5s;
  &:hover {
    h2 {
      transition: background-color .5s;
      transition: color .5s;
      transition: transform .5s;
      background: $light-blue;
      font-style: normal;
      transform: skew(-15deg);
      color: $background-color;
    }
    transition: text-decoration .5s;
    text-decoration: none;
  }
}
.nav__link__active {
  h2 {
    background: $light-blue;
    font-style: normal;
    transform: skew(-15deg);
    color: $background-color;
  }
}