main {
  display: flex;
  // border: solid;
  justify-content: center;
  overflow-x: hidden;
}
section {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  max-width: 60rem;
  flex-direction: column;
  @media (max-width: 30rem) {
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.section-link {
  width: fit-content;
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  transition: background-color .5s;
  transition: color .5s;
  transition: transform .5s;
  transition: text-decoration .5s;
  &:hover {
      transition: background-color .5s;
      transition: color .5s;
      transition: transform .5s;
      background: $light-blue;
      font-style: normal;
      transform: skew(-15deg);
      color: $off-black;
  }
}

$base: 0.6rem;

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20rem;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #f7f7f7;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}