main {
  display: flex;
  justify-content: center;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media (max-width: 30rem) {
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}

.section-link {
  width: fit-content;
  color: #0000ee;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
