.project {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  // min-height: 330px;
  @media (max-width: 800px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
  }
}
.project-image {
  flex: 0 0 50%;
  width: 50%;
  @media (max-width: 800px) {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
.project-info {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  width: 50%;
  @media (max-width: 800px) {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  h1 {
    @media (max-width: 1201px) {
      font-size: x-large;
    }
  }
  p {
    @media (max-width: 1201px) {
      font-size: small;
    }
    @media (max-width: 800px) {
      font-size: medium;
    }
    @media (min-width: 1600px) {
      font-size: large;
    }
    @media (min-width: 2000px) {
      font-size: x-large;
    }
    @media (min-width: 3000px) {
      font-size: xx-large;
    }
  }
}
.project-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: baseline;
}
.project-link {
  width: fit-content;
  color: #0000ee;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: x-large;
  @media (max-width: 1201px) {
    font-size: large;
  }
}

.hide {
  display: none;
}