#welcome {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: x-large;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
  p {
    margin-bottom: 2.5rem;
    margin-top: 0;
  }
  h1 {
    font-family: Impact, Arial, Helvetica, sans-serif;
    color: $off-black;
    margin-top: 0;
    margin-bottom: 2.5rem;
    @media (max-width: 30rem) {
      font-size: xx-large;
    }
  }
  h2 {
    font-family: Impact, Arial, Helvetica, sans-serif;
    margin:0;
    margin-top: 2rem;
    padding: 0;
    color: palevioletred;
    width: 15rem;
    @media (max-width: 30rem) {
      font-size: large;
      width: auto;
      margin-top: 2rem;
    }
  }
  img {
    height: 10rem;
    width: auto;
  }
  h3 {
    font-family: Impact, Arial, Helvetica, sans-serif;
    color: $off-black;
  }
  @media (max-width: 30rem) {
    padding: 0;
    font-size: large;
    align-items: center;
    text-align: center;
    min-height: 100%;
  }
  @media (max-width: 1000px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: 1600px) {
    min-height: 100%;
  }
}
.portrait {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-bottom: 2.5rem;
  img {
    border-radius: 10%;
    box-shadow: 3px 3px 3px #eee;
    -moz-box-shadow: 3px 3px 3px #eee;
    box-shadow: 3px 3px 3px #eee;
  }
  @media (max-width: 30rem) {
    flex-direction: column;
  }
}
.row-list {
  display: flex;
  // text-align: left;
  // justify-content: left;
  margin-bottom: 2rem;
  @media (max-width: 30rem) {
    justify-content: space-between;
  }
}

#toolset {
  i {
    color: $light-blue;
    font-size: 48px;
  }
  p {
    font-size: medium;
    @media (max-width: 30rem) {
      font-size: small;
    }
  }
}

$base: 0.6rem;

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20%;
}

.chevron {
  position: absolute;
  width: $base * 3.5;
  height: $base * 0.8;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #f7f7f7;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 3.8);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 5.2);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 8) scale(0.5);
 }
}

#projects-header {
  align-self: center;
  width: fit-content;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: solid 4px palevioletred;
}