.work-page {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 10px;
  width: 100%;
  padding-bottom: 2rem;
  height: 95vh;
  @media (max-width: 30rem) {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  @media (min-width: 150rem) {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
  }
  img {
    width: 100%;
    transition: opacity .5s;
    opacity: .5;
    &:hover {
      transition: opacity .5s;
      opacity: 1;
    }
  }
}

.work-page__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-height: 20rem;
  background: linear-gradient(30deg,rgba(21, 0, 255, 0.878) 0,$light-blue 100%);
  color: $off-white;
  
  img {
    height: 100%;
    object-fit: cover;
    box-shadow: 3px 3px 3px #111;
    -moz-box-shadow: 3px 3px 3px #111;
    box-shadow: 3px 3px 3px #111;
  }
  h1 {
    position: absolute;
    pointer-events: none;
    font-style: italic;
    @media (max-width: 30rem) {
      font-size: medium;
    }
  }
  @media (max-width: 30rem) {
    min-height: auto;
    height: 10rem;
    margin-bottom: 1rem;
  }
  @media (min-width: 150rem) {
    height: 20rem;
  }
}
#title {
  background: none;
}