::-webkit-scrollbar { 
  display: none; 
}
::selection {
  background: #9CDCFE;
  // color: #1f2422;
}
::-moz-selection {
  background: #9CDCFE;
  // color: #1f2422;
}
body {
  margin: 0;
  background-color: $off-black;
  color: $off-white;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}
// .app {
//   display: flex;
//   border: solid blue;
//   justify-content: center;
//   // max-width: 90rem;
//   // align-self: center;
// }