::-webkit-scrollbar { 
  display: none; 
}
::selection {
  background: #9CDCFE;
}
::-moz-selection {
  background: #9CDCFE;
}
body {
  margin: 0;
  background-color: $off-black;
  color: $off-white;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: hidden;
}