::-webkit-scrollbar { 
  display: none; 
}
::selection {
  background: $blue;//#9CDCFE;
}
::-moz-selection {
  background: $blue;//#9CDCFE;
}
body {
  margin: 0;
  background-color: $background-color;
  color: $dim;
  // font-family: 'Courier New', Courier, monospace;
  font-family: Arial, Helvetica, sans-serif;
  // font-weight: 700;
  overflow-x: hidden;
}